# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time

name: Java CI with Maven

on:
  push:
    branches: [ "dev" ]

  release:
    types: [ published ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Read & validate project version
      run: |
        echo "GITHUB_EVENT_NAME: $GITHUB_EVENT_NAME"
        echo "GITHUB_REF: $GITHUB_REF"
        echo "GITHUB_REF_TYPE: $GITHUB_REF_TYPE"
        echo "GITHUB_REF_NAME: $GITHUB_REF_NAME"

        RELEASE_TAG="${{ github.event.release.tag_name }}"
        echo "RELEASE_TAG: $RELEASE_TAG"

        APP_VERSION=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout 2>/dev/null)
        echo "POM Version: $APP_VERSION"

        # ---------- PUSH RULE ----------
        if [[ "$GITHUB_EVENT_NAME" == "push" ]]; then

          # ---------- DEV RULE ----------
          if [[ "$GITHUB_REF_TYPE" == "branch" && "$GITHUB_REF_NAME" == "dev" && ! "$APP_VERSION" == *"-SNAPSHOT" ]]; then
            echo "❌ ERROR: $GITHUB_REF_NAME branch must use SNAPSHOT version. Found: $APP_VERSION"
            exit 1
          fi
        fi

        # ---------- RELEASE RULE ----------
        if [[ "$GITHUB_EVENT_NAME" == "release" ]]; then

          # ---------- APP_VERSION RULE ----------
          if [[ "$APP_VERSION" == *"-SNAPSHOT" ]]; then
            echo "❌ ERROR: Release version cannot be SNAPSHOT. Found: $APP_VERSION"
            exit 1
          fi

          # clean optional v prefix
          CLEAN_TAG="${RELEASE_TAG#v}"

          if [[ "$CLEAN_TAG" != "$APP_VERSION" ]]; then
            echo "❌ ERROR: Tag ($RELEASE_TAG) does NOT match pom version ($APP_VERSION)"
            exit 1
          fi
        fi

        echo "✔ Version + branch/tag validation passed."
        echo "APP_VERSION=$APP_VERSION" >> $GITHUB_ENV

    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven

    - name: Publish to Maven Central Sonatype
      run: ./mvnw clean deploy -DskipTests=true -pl "ishtech-springboot-jwtauth-lib,ishtech-springboot-jwtauth-api" -P gpg -P central-publishing -am

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: muneer2ishtech/ishtech-springboot-jwtauth-web:${{ env.APP_VERSION }}
