# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time

name: Java CI with Maven

on:
  push:
    branches: [ "dev", "main" ]
    tags: [ "*" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Read & validate project version
      run: |
        BRANCH="${GITHUB_REF##*/}"
        REF_TYPE="${GITHUB_REF_TYPE}"
        RAW_TAG="${GITHUB_REF_NAME}" # the tag or branch name
        APP_VERSION=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout 2>/dev/null)

        echo "Branch/Tag: $GITHUB_REF"
        echo "Ref type: $REF_TYPE"
        echo "Tag name: $RAW_TAG"
        echo "POM Version: $APP_VERSION"

        # ---------- DEV RULE ----------
        if [[ "$REF_TYPE" == "branch" && "$BRANCH" == "dev" && ! "$APP_VERSION" == *"-SNAPSHOT" ]]; then
          echo "❌ ERROR: Dev branch requires SNAPSHOT version. Found: $APP_VERSION"
          exit 1
        fi

        # ---------- MAIN RULE ----------
        if [[ "$BRANCH" == "main" ]]; then

          # must be tag
          if [[ "$REF_TYPE" != "tag" ]]; then
            echo "❌ ERROR: Main branch workflow runs ONLY on release tags."
            exit 1
          fi

          # version must NOT be snapshot
          if [[ "$APP_VERSION" == *"-SNAPSHOT" ]]; then
            echo "❌ ERROR: Tagged releases cannot use SNAPSHOT version. Found: $APP_VERSION"
            exit 1
          fi

          # tag must exactly match version (allow optional v prefix)
          CLEAN_TAG="${RAW_TAG#v}"

          if [[ "$CLEAN_TAG" != "$APP_VERSION" ]]; then
            echo "❌ ERROR: Tag ($RAW_TAG) does NOT match pom.xml version ($APP_VERSION)."
            exit 1
          fi
        fi

        echo "✔ Version + branch/tag validation passed."
        echo "APP_VERSION=$APP_VERSION" >> $GITHUB_ENV

    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: ./mvnw -B package --file pom.xml -DskipTests

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: muneer2ishtech/ishtech-springboot-jwtauth:${{ env.APP_VERSION }}
